{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <div class="text-center mb-4">
                <h1 class="display-4">🐦 Switter</h1>
            </div>
            <div class="card" style="background-color: #192734; border-color: #38444d;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{% trans "Password Reset" %}</h2>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-center">
                        {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
                    </p>
                    <hr style="border-color: #38444d;">
                    <div class="text-center">
                        <a href="{% url 'posts' %}" class="btn btn-outline-light" style="background-color: #253341;">{% trans "Login" %}</a>
                    </div>
                    <div class="text-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
