{% extends "base.html" %}
{% block content %}
{% load django_bootstrap5 %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div
        class="card mb-3"
        style="background-color: #192734; border-color: #38444d">
        <div class="card-body">
          <div class="d-flex align-items-center mb-3">
                {% if userinfo.image %}
                <img
                src="{{ userinfo.image.url }}"
                class="rounded-circle me-3"
                alt="User Avatar"
                style="width: 64px; height: 64px; border: 2px solid #38444d" />
                {% else %}
                <img
                src="https://via.placeholder.com/48"
                class="rounded-circle me-3"
                alt="User Avatar"
                style="width: 64px; height: 64px; border: 2px solid #38444d" />
                {% endif %}
            <div>
              <h5 class="card-title mb-0">
                {{userinfo.user.first_name}} {{userinfo.user.last_name}}
              </h5>
              <small>@{{userinfo.user.username}}</small>
            </div>
          </div>
          <p>
            <span class="me-3"><strong>32</strong> Following</span>
            <span><strong>11</strong> Followers</span>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Post Content -->
      <div
        class="card mb-2"
        style="
          background-color: #192734;
          border-color: #38444d;
          border-radius: 0.5rem;
        ">
        <div class="card-body">
          <div class="d-flex mb-3 align-items-start">
            <!-- User Avatar -->
            <img
              src="https://via.placeholder.com/48"
              class="rounded-circle me-3"
              alt="User Avatar"
              style="width: 48px; height: 48px; border: 2px solid #38444d" />

            <div style="flex-grow: 1">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <h6 class="mb-0">
                    {{ post.user.first_name }} {{ post.user.last_name }}
                    <small>@{{ post.user.username }}</small>
                  </h6>
                  <small
                    >{{ post.created_at|time:"H:i" }} {{post.created_at|date}}</small
                  >
                </div>

                <!-- Dropdown button (three dots) aligned far right -->
                <div class="dropdown">
                  <button
                    class="btn btn-link text-secondary p-0"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="dropdownMenuButton">
                    <li>
                      <button
                        class="dropdown-item"
                        type="button"
                        onclick="toggleEditForm({{ post.pk }})">
                        Edit
                      </button>
                    </li>
                    <li>
                      <form
                        method="POST"
                        action="{% url 'post_delete' post.pk %}">
                        {% csrf_token %}
                        <button class="dropdown-item" type="submit">
                          Delete
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Post body (visible by default) -->
              <p class="card-text mt-2" id="post-body-{{ post.pk }}">
                {{ post.body }}
              </p>

              {% if post.image %}
              <div style="max-width: 100%; height: auto">
                <img
                  src="{{ post.image.url }}"
                  class="img-fluid rounded mb-3"
                  alt="Blog post image"
                  style="
                    max-width: 100%;
                    height: auto;
                    border-radius: 0.5rem;
                  " />
              </div>
              {% endif %}
              <!-- Edit Form (hidden by default) -->
              <div id="edit-form-{{ post.pk }}" style="display: none">
                <form method="POST" action="{% url 'post_update' post.pk %}">
                  {% csrf_token %} 
                  {{ update_post_form.body }}
                  <button
                    type="submit"
                    class="btn btn-outline-primary btn-sm mt-2">
                    Save Changes
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-secondary btn-sm mt-2"
                    onclick="toggleEditForm({{ post.pk }})">
                    Cancel
                  </button>
                </form>
              </div>
            </div>
          </div>

          <!-- Actions -->
          <div class="d-flex justify-content-between">
            <!-- Love Button -->
            <button id="love-btn" class="btn btn-outline-light btn-sm" onclick="toggleLove({{ post.id }})">
                <i id="love-icon" class="{% if request.user.id in users_who_loved %}fas{% else %}far{% endif %} fa-heart"></i>
                <span id="love-count">{{ post.reactions.count }}</span>
            </button>
        
            <!-- Comments Button -->
            <button class="btn btn-outline-light btn-sm">
                <i class="far fa-comment"></i> {{ total_comments_replis }}
            </button>
        
            <!-- Retweet Button -->
            <button class="btn btn-outline-light btn-sm">
                <i class="fas fa-retweet"></i> 8
            </button>
        </div>
        
        
        <script>
            function toggleLove(postId) {
                fetch(`/post/${postId}/react/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}', 
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                   
                    const loveIcon = document.getElementById('love-icon');
                    const loveCount = document.getElementById('love-count');
        
                    
                    if (data.loved) {
                        loveIcon.classList.remove('far');
                        loveIcon.classList.add('fas');
                    } else {
                        loveIcon.classList.remove('fas');
                        loveIcon.classList.add('far');
                    }
        
                    loveCount.textContent = data.reactions_count;
                })
                .catch(error => console.error('Error:', error));
            }
        </script>
        
        <script>
          function toggleEditForm(postId) {
            const postBody = document.getElementById(`post-body-${postId}`);
            const editForm = document.getElementById(`edit-form-${postId}`);

            if (editForm.style.display === "none") {
              editForm.style.display = "block";
              postBody.style.display = "none"; // Hide the post body when editing
            } else {
              editForm.style.display = "none";
              postBody.style.display = "block"; // Show the post body again when canceling
            }
          }
        </script>

        <!-- Comment Form -->
        <form method="post" action="{% url 'add_comment' post.pk %}">
          {% csrf_token %}
          <div>
            <div class="flex-grow-1 me-2">{{ comment }}</div>
            <button type="submit" class="btn btn-outline-primary btn-sm mt-2">
              Add
            </button>
          </div>
        </form>
      </div>

      <!-- Error Handling -->
      {% if comment_form.errors %}
      <ul>
        {% for field in comment_form %} {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %} {% endfor %}
      </ul>
      {% endif %}

      <!-- Comments Section -->
      {% for comment in comments %}
      <div
        class="card mb-2 mt-2"
        style="
          background-color: #192734;
          border-color: #38444d;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
        ">
        <div class="card-body" style="padding: 0.5rem">
          <div class="d-flex mb-3 align-items-start">
            <!-- Commenter Avatar -->
            <img
              src="https://via.placeholder.com/48"
              class="rounded-circle me-3"
              alt="Commenter Avatar"
              style="width: 48px; height: 48px; border: 2px solid #38444d" />

            <div style="flex-grow: 1">
              <div class="d-flex justify-content-between align-items-start">
                <div>
                  <!-- Commenter Username -->
                  <h6 class="mb-0">
                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                    <small>@{{ comment.user.username }}</small>
                  </h6>

                  <small
                    >{{ comment.created_at|time:"H:i" }} {{comment.created_at|date }}</small
                  >
                </div>

                <!-- Dropdown button (three dots) aligned far right -->
                <div class="dropdown">
                  <button
                    class="btn btn-link text-secondary p-0"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="dropdownMenuButton">
                    <li>
                      <button
                        class="dropdown-item"
                        type="button"
                        onclick="toggleEditCommentForm({{ comment.pk }})">
                        Edit
                      </button>
                    </li>
                    <li>
                      <form
                        method="POST"
                        action="{% url 'delete_comment' post.pk comment.pk %}">
                        {% csrf_token %}
                        <button class="dropdown-item" type="submit">
                          Delete
                        </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- Comment body (visible by default) -->
              <p class="card-text mt-2" id="comment-body-{{ comment.pk }}">
                {{ comment.body }}
              </p>
              <div class="d-flex align-items-center">
                <button class="btn btn-outline-light btn-sm ms-2">
                  <i class="far fa-heart"></i> 1
                </button>
                <button
                  class="btn btn-sm btn-outline-light"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#replyForm{{ comment.pk }}"
                  aria-expanded="false"
                  aria-controls="replyForm{{ comment.pk }}">
                  Reply
                </button>
              </div>
            </div>
          </div>

          <!-- Reply Form -->
          <div class="collapse mt-2" id="replyForm{{ comment.pk }}">
            <form method="POST" action="{% url 'add_reply' post.pk %}">
              {% csrf_token %}
              <input type="hidden" name="comment_id" value="{{ comment.pk }}" />
              <input type="hidden" name="parent_id" value="" />
              {{ reply_form.as_p|safe }}
              <button type="submit" class="btn btn-outline-primary btn-sm">
                Submit
              </button>
            </form>
          </div>

          <!-- Infinite Replies -->
          <div class="replies mt-3 ms-5" style="font-size: 0.75rem">
            {% include 'replies.html' with replies=comment.replies.all %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
