{% extends "base.html" %}
{% block content %}
{% load django_bootstrap5 %}
{% load cache %}
<div class="container mt-4">
  <div class="row align-items-center">
    <div class="col-md-3 d-flex flex-column align-items-center">
      <div class="col-md-9">
        {% if userinfo.image %}
        <img
          src="{{ userinfo.image.url }}"
          id="user-avatar"
          class="rounded-circle"
          alt="User Avatar"
          style="
            width: 150px;
            height: 150px;
            border: 4px solid #15202b;
            cursor: pointer;
            margin-left: 40px;
          " />
        {% else %}
        <img
          src="https://via.placeholder.com/150"
          id="user-avatar"
          class="rounded-circle"
          alt="User Avatar"
          style="
            width: 150px;
            height: 150px;
            border: 4px solid #15202b;
            cursor: pointer;
          " />
        {% endif %} 
        {% if request.user == userinfo.user %}
        <form method="post" enctype="multipart/form-data" id="image-form">
          {% csrf_token %}
          <input
            type="file"
            id="image-input"
            name="image"
            style="display: none"
            onchange="document.getElementById('image-form').submit();" />
        </form>
        {% endif %}
      </div>

      <script>
        document
          .getElementById("user-avatar")
          .addEventListener("click", function () {
            document.getElementById("image-input").click();
          });
      </script>

      {% if request.user == userinfo.user %}
      <form
        method="post"
        action="{% url 'account_logout' %}"
        style="margin-top: 15px">
        {% csrf_token %} {{ redirect_field }}
        <button type="submit" class="btn btn-outline-danger btn-sm">
          Logout
        </button>
      </form>
      {% endif %}
    </div>

    <div class="col-md-9">
      <div id="bio-section">
        <h2 class="mt-3">
          {{ userinfo.user.first_name }} {{ userinfo.user.last_name }} 
          {% if request.user != userinfo.user %} 
          {% if not is_following %}
          <form method="post">
            {% csrf_token %}
            <button
              type="submit"
              name="action"
              value="follow"
              class="btn btn-outline-primary btn-sm">
              Follow
            </button>
          </form>
          {% else %}
          <form method="post">
            {% csrf_token %}
            <button
              type="submit"
              name="action"
              value="unfollow"
              class="btn btn-outline-danger btn-sm">
              Unfollow
            </button>
          </form>
          {% endif %} 
          {% else %}
          <input type="hidden" />
          {% endif %}
        </h2>
        <div
          class="modal fade"
          id="following"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Following [ {{following_count}} ]</h5>
                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              
              {% for user_follow in following_users  %}
              <div class="modal-body">
                <a style="color: white ; text-decoration: none" href="{% url 'profile' user_follow.user.username.lower %}">{{user_follow.user.username}}</a>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>

        <p>@{{ userinfo.user.username }}</p>

        <p>
          <span
            type="button"
            style="cursor: pointer; background: none; border: none"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#following"
            class="me-3"
            ><strong>{{following_count}}</strong> Following</span
          >
        <div
          class="modal fade"
          id="followers"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Followers [ {{followers_count}} ]</h5>
                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              
              {% for user_follow in followers_users  %}
              <div class="modal-body">
                <a style="color: white ; text-decoration: none" 
                href="{% url 'profile' user_follow.user.username.lower %}">
                {{user_follow.user.username}}</a>
              </div>
              {% endfor %}
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal">
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
          <span
          type="button"
          style="cursor: pointer; background: none; border: none"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#followers"
          class="me-3"><strong>{{followers_count}}</strong> Followers</span>
        </p>

        {% if userinfo.bio %}
        <p id="bio-text">{{userinfo.bio}}</p>
        {% endif %} 
        {%if request.user == userinfo.user%}
        <button id="edit-bio-btn" class="btn btn-outline-primary btn-sm">
          Edit Bio
        </button>
        {% endif %}

        <div class="card-body" id="bio-form" style="display: none">
          <form method="post">
            {% csrf_token %} {{bio_form}}
            <br />
            <button type="submit" class="btn btn-outline-primary btn-sm">
              Change
            </button>
          </form>
        </div>
      </div>

      <script>
        document
          .getElementById("edit-bio-btn")
          .addEventListener("click", function () {
            var bioText = document.getElementById("bio-text");
            var bioForm = document.getElementById("bio-form");

            if (bioForm.style.display === "none") {
              bioForm.style.display = "block";
              bioText.style.display = "none";
            } else {
              bioForm.style.display = "none";
              bioText.style.display = "block";
            }
          });
      </script>
    </div>
  </div>

  <div class="container mt-4 d-flex justify-content-center">
    <div class="col-md-6">
      <div
        class="card mb-3"
        style="background-color: #192734; border-color: #38444d">
        <div class="card-body">
          <form method="post">
            {% csrf_token %} 
            {% bootstrap_form post_form %}
            <button type="submit" class="btn btn-primary float-end">
              Post
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% for post in posts %}
  
  <div class="container mt-1 d-flex justify-content-center">
      <div class="col-md-6">
          <div
          class="card mb-3"
          style="background-color: #192734; border-color: #38444d">
          <div class="card-body">                
            <a href="{% url 'profile_post_detail' user.profile.slug post.pk %}" style="text-decoration: none; color: inherit;">
          <p class="card-text">{{post.body}}</p>
          {% if post.image %}
          <div style="max-width: 100%; height: auto">
            <img
              src="{{ post.image.url }}"
              class="img-fluid rounded mb-3"
              alt="Blog post image"
              style="max-width: 100%; height: auto; border-radius: 0.5rem" />
          </div>
          {% endif %}
          <p class="text-end">{{ post.created_at|date:"F j, Y, g:i a" }}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-light btn-sm">
              <i class="far fa-heart"></i> {{post.reaction.count}}
            </button>
            <button class="btn btn-outline-light btn-sm">
              <i class="far fa-comment"></i> {{post.comment.count}}
            </button>
            <button class="btn btn-outline-light btn-sm">
              <i class="fas fa-retweet"></i> 8
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
